<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="loading-spinner" *ngIf="loadingPrecondictions">
  <h3>
    Precondictions for calculation are loading. Please wait for it to complete.
  </h3>
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="calculator-wrapper my-5" *ngIf="!loadingPrecondictions">
  <h3>Inputs Form</h3>
  <form (ngSubmit)="onSubmit(calculatorForm)" #calculatorForm="ngForm">
    <fieldset
      class="border p-3 mb-4"
      ngModelGroup="precondictions"
      #precondictionsCtrl="ngModelGroup"
    >
      <legend class="w-auto">Precondictions</legend>
      <div class="form-row">
        <div class="form-group col-lg-3 col-md-6">
          <label for="startBalance">First Year Start Balance</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="number"
              min="0"
              class="form-control"
              id="startBalance"
              name="startBalance"
              [(ngModel)]="user.precondictions.startBalance"
              #startBalance="ngModel"
              required
              readonly
            />
          </div>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="ageOfFirstYear">Age of first year</label>
          <div class="input-group">
            <input
              type="number"
              min="18"
              class="form-control"
              id="ageOfFirstYear"
              name="ageOfFirstYear"
              [(ngModel)]="user.precondictions.ageOfFirstYear"
              #ageOfFirstYear="ngModel"
              required
              readonly
            />
          </div>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="firstYear">First Year</label>
          <div class="input-group">
            <input
              type="number"
              min="2020"
              class="form-control"
              id="firstYear"
              name="firstYear"
              [(ngModel)]="user.precondictions.firstYear"
              #firstYear="ngModel"
              required
              readonly
            />
          </div>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="lastYear">Last Year</label>
          <div class="input-group">
            <input
              type="number"
              min="2020"
              class="form-control"
              id="lastYear"
              name="lastYear"
              [(ngModel)]="user.precondictions.lastYear"
              #lastYear="ngModel"
              required
              readonly
            />
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset
      class="border p-3 mb-4"
      ngModelGroup="inputs"
      #inputsCtrl="ngModelGroup"
    >
      <legend class="w-auto">Inputs</legend>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="salary">Salary</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="number"
              min="0"
              class="form-control"
              id="salary"
              placeholder="Please enter the salary of the user"
              name="salary"
              [(ngModel)]="user.inputs.salary"
              #salary="ngModel"
              required
            />
          </div>
          <div class="alert alert-danger" *ngIf="user.inputs.salary < 0">
            The salary should not be a negative number!
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="contributionRate">Contribution Rate</label>
          <div class="input-group">
            <input
              type="number"
              min="0"
              class="form-control"
              id="contributionRate"
              placeholder="Please enter the contribution rate of the user"
              name="contributionRate"
              [(ngModel)]="user.inputs.contributionRate"
              #contributionRate="ngModel"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="user.inputs.contributionRate < 0"
          >
            The contribution rate should not be a negative number!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inflationRate">Inflation Rate</label>
          <div class="input-group">
            <input
              type="number"
              min="0"
              class="form-control"
              id="inflationRate"
              placeholder="Please enter the inflation rate of the user"
              name="inflationRate"
              [(ngModel)]="user.inputs.inflationRate"
              #inflationRate="ngModel"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="user.inputs.inflationRate < 0">
            The inflation rate should not be a negative number!
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="earningsRate">Earnings rate</label>
          <div class="input-group">
            <input
              type="number"
              min="0"
              class="form-control"
              id="earningsRate"
              placeholder="Please enter the earnings rate of the user"
              name="earningsRate"
              [(ngModel)]="user.inputs.earningsRate"
              #earningsRate="ngModel"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="user.inputs.earningsRate < 0">
            The earnings rate should not be a negative number!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="feesRate">Fees rate</label>
          <div class="input-group">
            <input
              type="number"
              min="0"
              class="form-control"
              id="feesRate"
              placeholder="Please enter the fees rate of the user"
              name="feesRate"
              [(ngModel)]="user.inputs.feesRate"
              #feesRate="ngModel"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="user.inputs.feesRate < 0">
            The fees rate should not be a negative number!
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="taxRate">Tax rate</label>
          <div class="input-group">
            <input
              type="number"
              min="0"
              class="form-control"
              id="taxRate"
              placeholder="Please enter the tax rate of the user"
              name="taxRate"
              [(ngModel)]="user.inputs.taxRate"
              #taxRate="ngModel"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="user.inputs.taxRate < 0">
            The tax rate should not be a negative number!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="withdrawalRate">Withdrawal rate</label>
          <div class="input-group">
            <input
              type="number"
              min="0"
              class="form-control"
              id="withdrawalRate"
              placeholder="Please enter the withdrawal rate of the user"
              name="withdrawalRate"
              [(ngModel)]="user.inputs.withdrawalRate"
              #withdrawalRate="ngModel"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="user.inputs.withdrawalRate < 0"
          >
            The withdrawal rate should not be a negative number!
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="retirementAge">Retirement age</label>
          <div class="input-group">
            <input
              type="number"
              [min]="user.precondictions.ageOfFirstYear"
              class="form-control"
              id="retirementAge"
              placeholder="Please enter the retirement age of the user"
              name="retirementAge"
              [class.retirement-age-invalid]="
                user.inputs.retirementAge <= user.precondictions.ageOfFirstYear
              "
              [(ngModel)]="user.inputs.retirementAge"
              #retirementAge="ngModel"
              required
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              user.inputs.retirementAge <= user.precondictions.ageOfFirstYear
            "
          >
            The retirement age must be greater than the age of the first year in
            capital balance projection!
          </div>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="col col-md-auto col-sm-12">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="
            calculatorForm.form.invalid ||
            user.precondictions.firstYear > user.precondictions.lastYear ||
            user.inputs.retirementAge <= user.precondictions.ageOfFirstYear
          "
        >
          Submit
        </button>
      </div>
      <div class="col">
        <h5>
          Please click on the 'Submit' button for the calculation and check the
          results in both the chart and table shown below.
        </h5>
      </div>
    </div>
  </form>
  <app-line-chart [balance]="balance" [years]="years"></app-line-chart>
  <app-details-table
    [details]="details"
    [years]="years"
    *ngIf="balance.length > 0"
  ></app-details-table>
</div>
